<p-card>
  <!-- Header Section -->
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>{{ organizationName || 'New Organization' }}</h2>
    <div class="button-group">
      <button class="btn custom-btn" (click)="onBack()">Back to Organizations</button>
    </div>
  </div>

  <div class="p-fluid">
    <form [formGroup]="organizationForm">
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field">
            <label for="organizationName">Organization Name <span class="required">*</span></label>
            <input id="organizationName" pInputText formControlName="organizationName" [(ngModel)]="organizationName" />
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field">
            <label for="organizationCode">Organization Code <span class="required">*</span></label>
            <input id="organizationCode" pInputText formControlName="organizationCode" />
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field" style="width: 35%;">
            <label for="country">Country <span class="required">*</span></label>
            <p-autoComplete
              id="country" 
              formControlName="country"
              [suggestions]="filteredCountries"
              optionLabel="label"
              (completeMethod)="filterCountries($event)"
              [dropdown]="true"
              field="name"
              [virtualScroll]="true"
              [virtualScrollItemSize]="34"
            ></p-autoComplete>
          </div>
        </div>
        
        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field">
            <label for="fullAddress">Full Address <span class="required">*</span></label>
            <textarea id="fullAddress" pInputTextarea formControlName="fullAddress" rows="4"></textarea>
          </div>
        </div>
      </div>

      <div class="p-grid p-mt-3">
        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field">
            <label for="phone">Phone <span class="required">*</span></label>
            <input id="phone" pInputText
            type="number"formControlName="phone" />
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field">
            <label for="creationDate">Creation Date</label>
            <input id="creationDate" pInputText formControlName="creationDate" />
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3">
          <div class="p-field">
            <label for="updatingDate">Updating Date</label>
            <input id="updatingDate" pInputText formControlName="updatingDate" />
         </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3">
          <!-- Empty space to maintain layout --> 
        </div>
      </div>

      <!-- Save and Cancel Buttons -->

        <div class="button-group">
          <button *ngIf="organization == null" class="btn custom-btn" (click)="onSave()" [disabled]="!organizationForm.valid">Save</button>
          <button *ngIf="organization != null" class="btn custom-btn" (click)="onUpdate()" [disabled]="!organizationForm.valid">Update</button>
          <button class="btn custom-btn" (click)="onCancel()">Cancel</button>
        </div>
    </form>
  </div>
</p-card>